In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
 !head -n5 transfusion.data

'head' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
#load data
transfusion = pd.read_csv('transfusion.data')
transfusion.head()

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),whether he/she donated blood in March 2007
0,2,50,12500,98,1
1,0,13,3250,28,1
2,1,16,4000,35,1
3,2,20,5000,45,1
4,1,24,6000,77,0

In [4]:
# inspecting datafram
transfusion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 748 entries, 0 to 747
Data columns (total 5 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Recency (months)                            748 non-null    int64
 1   Frequency (times)                           748 non-null    int64
 2   Monetary (c.c. blood)                       748 non-null    int64
 3   Time (months)                               748 non-null    int64
 4   whether he/she donated blood in March 2007  748 non-null    int64
dtypes: int64(5)
memory usage: 29.3 KB

In [5]:
#craeting target coulms
# select & Rename target column as 'target'  
transfusion.rename(columns={'whether he/she donated blood in March 2007': 'target'},inplace=True)

# Print out the first 2 rows
transfusion.head(2)

,Recency (months),Frequency (times),Monetary (c.c. blood),Time (months),target
0,2,50,12500,98,1
1,0,13,3250,28,1

In [6]:
# Print target incidence proportions, rounding output to 3 decimal places
round(transfusion.target.value_counts(normalize = True), 3)
#0s appear 76% of the time

0    0.762
1    0.238
Name: target, dtype: float64

In [7]:

X = transfusion.drop('target', axis = 1)
y = transfusion['target']

# Split transfusion DataFrame into X_train, X_test, y_train and y_test datasets,
# stratifying on the `target` column

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .25, random_state = 42, stratify = y)
X_train.head(2)

     Recency (months)  Frequency (times)  Monetary (c.c. blood)  Time (months)
334                16                  2                    500             16
99                  5                  7                   1750             26

In [10]:
pip install tpot

Collecting tpot
  Using cached TPOT-0.11.7-py3-none-any.whl (87 kB)
Requirement already satisfied: pandas>=0.24.2 in c:\users\menna\anaconda3\lib\site-packages (from tpot) (1.3.4)
Collecting deap>=1.2
  Using cached deap-1.3.1-cp39-cp39-win_amd64.whl (108 kB)
Requirement already satisfied: scikit-learn>=0.22.0 in c:\users\menna\anaconda3\lib\site-packages (from tpot) (0.24.2)
Requirement already satisfied: scipy>=1.3.1 in c:\users\menna\anaconda3\lib\site-packages (from tpot) (1.7.1)
Note: you may need to restart the kernel to use updated packages.
Collecting stopit>=1.1.1
  Using cached stopit-1.1.2.tar.gz (18 kB)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\menna\anaconda3\lib\site-packages (from tpot) (4.62.3)
Collecting update-checker>=0.16
  Using cached update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: numpy>=1.16.3 in c:\users\menna\anaconda3\lib\site-packages (from tpot) (1.20.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\menna\anaconda3\lib\site-packages (from tpot) (1.1.0)
Collecting xgboost>=1.1.0
  Using cached xgboost-1.6.1-py3-none-win_amd64.whl (125.4 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\menna\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\menna\anaconda3\lib\site-packages (from pandas>=0.24.2->tpot) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\menna\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\menna\anaconda3\lib\site-packages (from scikit-learn>=0.22.0->tpot) (2.2.0)
Requirement already satisfied: colorama in c:\users\menna\anaconda3\lib\site-packages (from tqdm>=4.36.1->tpot) (0.4.4)
Requirement already satisfied: requests>=2.3.0 in c:\users\menna\anaconda3\lib\site-packages (from update-checker>=0.16->tpot) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\menna\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\menna\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\menna\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\menna\anaconda3\lib\site-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.2)
Building wheels for collected packages: stopit
  Building wheel for stopit (setup.py): started
  Building wheel for stopit (setup.py): finished with status 'done'
  Created wheel for stopit: filename=stopit-1.1.2-py3-none-any.whl size=11952 sha256=bdf176712ac15e398f28b1acd0065d13cd1033dd1d8d9c91c02e6e7779d7ade2
  Stored in directory: c:\users\menna\appdata\local\pip\cache\wheels\48\8c\93\3afb1916772591fe6bcc25cdf8b1c5bdc362f0ec8e2f0fd413
Successfully built stopit
Installing collected packages: xgboost, update-checker, stopit, deap, tpot
Successfully installed deap-1.3.1 stopit-1.1.2 tpot-0.11.7 update-checker-0.18.0 xgboost-1.6.1

In [9]:
from tpot import TPOTClassifier
from sklearn.metrics import roc_auc_score
tpot = TPOTClassifier(
    generations=5,
    population_size=20,
    verbosity=2,
    scoring='roc_auc',
    random_state=42,
    disable_update_check=True,
    config_dict='TPOT light'
)
tpot.fit(X_train, y_train)

tpot_auc_score = roc_auc_score(y_test, tpot.predict_proba(X_test)[:, 1])
print(f'\nAUC score: {tpot_auc_score:.4f}')

tpot_auc_score = roc_auc_score(y_test, tpot.predict_proba(X_test)[:, 1])
print(f'\nAUC score: {tpot_auc_score:.4f}')

ModuleNotFoundError: No module named 'tpot'

In [ ]:
# X_train's variance, rounding the output to 3 decimal places
X_train.var().round(3)

In [ ]:
# Copy X_train and X_test into X_train_normed and X_test_normed
X_train_normed, X_test_normed = X_train.copy(), X_test.copy()

# Specify which column to normalize
col_to_normalize = 'Monetary (c.c. blood)'

# Log normalization
for df_ in [X_train_normed, X_test_normed]:
    # Add log normalized column
    df_['monetary_log'] = np.log(df_[col_to_normalize])
    # Drop the original column
    df_.drop(columns = col_to_normalize, inplace=True)

# Check the variance for X_train_normed
X_train_normed.var().round(3)

In [ ]:
from sklearn import linear_model

logreg = linear_model.LogisticRegression(solver = 'liblinear', random_state = 42)
logreg.fit(X_train_normed, y_train)

# AUC score for tpot model
logreg_auc_score = roc_auc_score(y_test, logreg.predict_proba(X_test_normed)[:, 1])
print(f'\nAUC score: {logreg_auc_score:.4f}')

In [ ]:
from operator import itemgetter

# Sort models based on their AUC score from highest to lowest
sorted(
    [('tpot', tpot_auc_score), ('logreg', logreg_auc_score)],
    key = itemgetter(1),
    reverse = True
)